body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Raleway', sans-serif;

  background-color: var(--fondo);
}

:root{
  --fondo: #ebd2f0;
  --fondo-texto: #CE93D8;
  --Buttons: #9C27B0;
  --checked: rgb(53, 148, 53);
  --checked-text: rgb(152, 209, 152);
  --erase: rgb(184, 38, 38);
}